@model Group5_FinalProject_v2.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPopcornPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPopcornPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PurchaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
