@model Group5_FinalProject_v2.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theater)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theater)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialEvent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.RunTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.RunTime)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.CustomerRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.CustomerRating)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MPAARating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MPAARating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Tagline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Tagline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Actors)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Customer"))
    {
        <a asp-action="Create" class="btn btn-primary" asp-controller="PurchaseDetails">Purchase</a>

    }
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
