@model Group5_FinalProject_v2.Models.PurchaseDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopcornPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopcornPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeniorDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeniorDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuesdayDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuesdayDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PurchaseDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
